@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.body-container {
    color: white;
    font-family: "Barlow", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.body-container .button {
    font-size: 1.4em;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container .button:hover {
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(255, 255, 255, 0.9);
}

.center-container {
    padding: 40px 10vw;
}

.heading {
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: lighter;
}

.heading span {
    color: wheat;
    font-weight: bold;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.photo-gallery>.photo {
    flex: 1 1 auto;
    height: 250px;
    position: relative;
}

.photo-gallery::after {
    content: "";
    flex-grow: 1000;
}

.photo-gallery .photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.photo-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.2s;
}

.photo-description p {
    color: white;
    text-align: center;
    padding: 15%;
}

.photo-gallery .photo:hover .photo-description {
    transform: scale(1);
}